/* --------------------------
   HubspotForm Styles
   -------------------------- */
.contactFormText {
    color: var(--inverted-foreground-color);
}

.contactFormSelect {
}

.contactFormText a {
    font-weight: bold;
}

.contactFormH2 {
    color: var(--inverted-foreground-color);
    font-size: 1.5rem;
    margin-bottom: 0.25rem;
    font-weight: 600;
}

.msg {
    display: flex;
}
.msg:before {
    content: '';
    display: flex;
    height: 23px;
    min-width: 24px;
    width: 24px;
    margin-right: 0.5rem;
}
.error {
    color: #d61830;
}
.error:before {
    background: url('../../assets/icons/circle-alert.svg') no-repeat;
}
.success {
    color: var(--inverted-foreground-color);
}
.success:before {
    background: url('../../assets/icons/circle-check.svg') no-repeat;
}
